{% extends "layout.html" %}
{% block content %}
    <h1 style="text-align: center"><strong>All Announcements</strong></h1>
    <div class="row announcement-container">
        {% for notice, value in notices.items() %}
            {% if value[2] == 'False' %}
                <div class="col-sm-2 announcement" style="background-color: darkblue">
                    <h3 style="color: white">{{ notice }}</h3>
                    <hr>
                    <p class="blockquote" style="color: white">{{ value[0] }}</p>
                    <br>
                    <p class="blockquote-footer">Written by {{ value[1] }}</p>
                </div>
            {% else %}
                <div class="col-sm-2 announcement" style="background-color: darkred">
                    <h3 style="color: white">{{ notice }}</h3>
                    <hr>
                    <p class="blockquote" style="color: white">{{ value[0] }}</p>
                    <br>
                    <p class="blockquote-footer">Written by {{ value[1] }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}