{% extends "layout.html" %}
{% block content %}
<section>
    <div class="div-container">
        <h1><strong>All Announcements</strong></h1>
        <div class="item-container flex-container">
            
            {% for notice, value in notices.items() %}
                <div class="announcement" id="N{{ notice }}">
                    <h3 style="color: white">{{ notice }}</h3>
                    <hr>
                    <p class="blockquote space-filler" style="color: white;">{{ value[0] }}</p>
                    <hr>
                    <p class="blockquote-footer">Written by {{ value[1] }}</p>
                </div>
                <script>
                    checkImportanceNotice("{{ notice }}", "{{ value[-1] }}")
                </script>
            {% endfor %}
        </div>
    </div>
    
</section>
{% endblock content %}