{% extends 'layout.html' %}
{% block content %}
<div style="border: 3px solid black; margin: 10px; padding: 5px">
    <form action="/my_account/change_user" method="post">
        <label for="curr_user">Current Username:</label>
        <br>
        <input type="text" id="curr_user" name="curr_user" required>
        <hr>
        <label for="new_user">New Username:</label>
        <br>
        <input type="text" id="new_user" name="new_user" required>
        <br>
        <label for="com_new_user">Confirm New Username:</label>
        <br>
        <input type="text" id="com_new_user" name="com_new_user" required>
        <hr>
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock content %}