{% extends "layout.html" %}
{% block content %}
    <section>
        <div style="background-color: orange; padding: 10px; border: 2px solid; margin: 10px; width: 80%">
            <div>
                <h1>Important <br>Announcements</h1>
            </div>
            <div style="padding: 5px">
                {% for notice, value in important.items() %}
                    {% if value[-1] == 'True' %}
                    <div style="border: 5px solid; margin: 5px; padding: 5px">
                        <h3>{{ notice }}</h3>
                        <p class="blockquote">{{ value[0] }}</p>
                        <p class="blockquote-footer">Written by {{ value[1] }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section>
        <div class="div-container">
            <h1>Notices:</h1>
            <div class="item-container flex-container">
                {% for title, specifications in groups.items() %}
                    <div class="group" id="G{{ title }}">
                        <h3>{{ title }}</h3>
                        <hr>
                        <a href="/groups/{{ title }}" class="block-link">
                            <div class="space-filler">
                                {% if specifications["descrip"] %}
                                    <p>{{ specifications["descrip"] }}</p>
                                {% endif %}
                            </div>
                            <hr>
                            <p class="blockquote-footer" style="display: inline">Made by {{ specifications["creator"] }}</p>
                            <a href="/groups/{{ title }}" style="float: right">>>></a>
                        </a>
                    </div>
                    <script>
                        checkImportanceGroup("{{ title }}", "{{ specifications['important'] }}")
                    </script>
                {% endfor %}
                {% for notice, value in notices.items() %}
                    <div class="announcement" style="background-color: blue">
                        <h3 style="color: white">{{ notice }}</h3>
                        <hr>
                        <div style="height: 150px; overflow: auto">
                            <p class="blockquote" style="color: white">{{ value[0] }}</p>
                        </div>
                        <hr>
                        <p class="blockquote-footer">Written by {{ value[1] }}</p>
                    </div>
                
                {% endfor %}
            </div>
        </div>
        
    </section>
{% endblock content %}
