<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    {% if title %}
    <title>Notice Board</title>
    {% else %}
    <title>Notice Board</title>
    {% endif %}
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-secondary navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Notice Board</a>
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/all">Announcements</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/groups">Groups</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="#">|</a>
                </li>
                {% if logined %}
                <li class="navbar-item">
                    <a class="nav-link" href="/my_account">My Account</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="#">Logined as {{ logined }}</a>
                </li>
                {% else %}
                <li class="navbar-item">
                    <a class="nav-link" href="/login" method="get">Login</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
                {% endif %}
            </ul>
            <form class="d-flex" action="/search" method="post">
                <input type="text" class="form-control me-2" placeholder="Search Titles" name="search">
                <button class="btn btn-primary" type="button">Search</button>
            </form>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <hr>
    <footer class="flex-container" style="margin-top: 50px">
        <div class="footer-nav">
            <!-- Put this code anywhere in the body of your page where you want the badge to show up. -->

            <div itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget' style='float: right'>
                 <a itemprop='url' href=https://www.fiverr.com/risker2022 rel="nofollow" target="_blank" style='display: inline-block; margin: 0'>
                    <div class='fiverr-seller-content' id='fiverr-seller-widget-content-ab4cea72-7915-489b-9cc4-3c2869cd736f' itemprop='contentURL' style='display: none;'></div>
                    <div id='fiverr-widget-seller-data' style='display: none;'>
                        <div itemprop='name' >risker2022</div>
                        <div itemscope itemtype='http://schema.org/Organization'><span itemprop='name'>Fiverr</span></div>
                        <div itemprop='jobtitle'>Seller</div>
                        <div itemprop='description'>I am a student who takes coding as a hobby. My main language is python, while being a beginner in other languages. Some projects I have done are a to do list using tkinter, a blackjack game suing python and a announcement board website with python.</div>
                    </div>
                </a>
            </div>

            <script id='fiverr-seller-widget-script-ab4cea72-7915-489b-9cc4-3c2869cd736f' src='https://widgets.fiverr.com/api/v1/seller/risker2022?widget_id=ab4cea72-7915-489b-9cc4-3c2869cd736f' data-config='{"category_name":"Programming \u0026 Tech"}' async='true' defer='true'></script>

        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>
</html>