{% extends 'layout.html' %}
{% block content %}
<section>
    <div class="div-container">
        {% if notices == {} and groups == {} %}
            <h1 style="text-align: center">You Have Not Made Anything</h1>
        {% else %}
            <h1 style="text-align: center">My Announcements and Groups</h1>

            <div class="item-container flex-container">
                {% for group, details in groups.items() %}
                    <div class="group" id="G{{ group }}">
                        <h3>{{ group }}</h3>
                        <hr>
                        <a href="/my_account/groups/{{ group }}" class="block-link">
                            <div class="space-filler">
                                {% if details["descrip"] %}
                                    <p>{{ details["descrip"] }}</p>
                                {% endif %}
                            </div>
                            <hr>
                            <p class="blockquote-footer" style="display: inline">Made by {{ details["creator"] }}</p>
                            <a href="/my_account/groups{{ group }}" style="float: right">>>></a>
                        </a>
                        <hr>
                        <div class="flex-container">
                            <a href="/my_account/edit_group/{{ group }}">Edit</a>
                            <a href="/my_account/del_group/{{ group }}">Delete</a>
                        </div>
                    </div>
                    <script>
                        checkImportanceGroup("{{ group }}", "{{ details['important'] }}")
                    </script>
                {% endfor %}
                {% for notice in notices %}
                    <div class="announcement" id="N{{ notice }}">
                        <h3 style="color: white">{{ notice }}</h3>
                        <hr>
                        <p class="blockquote" style="color: white">{{ notices[notice][0] }}</p>
                        <br>
                        <hr>
                        <div class="flex-container">
                            <a href="/my_account/edit/{{ notice }}" style="text-align: left">Edit</a>
                            <a href="/my_account/delete/{{ notice }}" style="text-align: right">Delete</a>
                        </div>
                    </div>
                    <script>
                        checkImportanceNotice("{{ notice }}", "{{ notices[notice][-1] }}")
                    </script>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    
</section>
    
<hr>
<div style="text-align: center">
    <form action="/my_account/add" method="get">
        <input type="submit" style="font-size: 20px" value="Add Announcement">
    </form>
</div>
<hr>
<div class="row" style="justify-content: center">
    <div class="col-sm-2">
        <form action="/my_account/change_pass" method="get">
            <input type="submit" style="font-size: 20px" value="Change Password">
        </form>
    </div>
    <div class="col-sm-2">
        <form action="/my_account/change_user" method="get">
            <input type="submit" style="font-size: 20px" value="Change Username">
        </form>
    </div>
    <script>
    function deleteAccount() {

        var confirmation = window.confirm("Are you sure you want to delete your account?");


        if (confirmation) {

          window.location.href = "/my_account/del_acc";
        } else {

          window.location.href = "/my_account";
        }
    }
    </script>
    <div class="col-sm-2">
        <button onclick="deleteAccount()" style="font-size: 20px">Delete Account</button>
    </div>
</div>
{% endblock content %}