{% extends 'layout.html' %}
{% block content %}
    <section>
        <div class="div-container">
            <h1><strong>Announcements in {{ group_name }}</strong></h1>
            {% if notices == {} %}
                <h3>There are no announcements in this group</h3>
            {% else %}
                <div class="item-container flex-container">
                    {% for notice, value in notices.items() %}
                        <div class="announcement" id="N{{ notice }}">
                            <h3 style="color: white">{{ notice }}</h3>
                            <hr>
                            <p class="blockquote space-filler" style="color: white;">{{ value[0] }}</p>
                            <hr>
                            <p class="blockquote-footer">Written by {{ value[1] }}</p>
                            <div class="flex-container">
                                <a href="/my_account/edit/{{ notice }}" style="text-align: left">Edit</a>
                                <a href="/my_account/delete/{{ notice }}" style="text-align: right">Delete</a>
                            </div>
                        </div>
                        <script>
                            checkImportanceNotice("{{ notice }}", "{{ value[-1] }}")
                        </script>
                    {% endfor %}
                </div>
            {% endif %}
            <a href="/my_account" class="button-style"><<< Exit</a>
        </div>
        
    </section>
{% endblock content %}