<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body, html {
        display: flex;
        align-items: center;
        justify-content: center;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container" style="justify-content: center; align-items: center; padding: 10px; border: 3px solid; margin: 5px">
        <div class="centered-element">
            <h1>Signup</h1>
            <form action="/signup" method="POST">
                <label for="username">Username:</label>
                <br>
                <input type="text" id="username" name="username" placeholder="Username" required>
                <br>
                <br>
                <label for="password">Password:</label>
                <br>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <br>
                <br>
                <label for="com_password">Confirm Password:</label>
                <br>
                <input type="password" id="com_password" name="com_password" placeholder="Password" required>
                <br>
                <br>
                <button type="submit">Submit</button>
            </form>
            <form action="/">
                <button type="button">Back</button>
            </form>
        </div>
    </div>
</body>
</html>